<div class="container">
    <div class="content">
      <button routerLink="/" class="back-button">Voltar</button>
      <h1>Binary Manager</h1>
      <br>
      <div>
      <button type="button" class="btn btn-primary" routerLink="/statistics-binary">Visualizar todas as respostas</button>
      </div>
      <br>
      <button type="button" class="btn btn-primary" routerLink="/search-user">Pesquisar Usuário</button>
      <br><br>
      <button type="button" class="btn btn-primary" routerLink="/">Pesquisar Questão</button>

    </div>
</div>

