<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Activities Managament  </title>
</head>
<body>
  <div class="container">
    <div class="content">
      <img src="assets/cover/capa.png" alt="Cover">
      <h2>Activities Managament</h2>
      <button type="button" class="btn btn-primary" routerLink="/home-binary">INICIAR</button>
    </div>
  </div>
</body>
</html>
