<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sistema de Gestão de Respostas do Computação Plugada</title>
</head>
<body>
  <div class="container">
    <div class="content">
      <img src="assets/cover/capa.png" alt="Cover">  
      <h2>Sistema de Gestão de Respostas</h2>
      <h1>Computação Plugada</h1>
      <button mat-flat-button type="button" routerLink="/statistics-binary">INICIAR</button>
    </div>
  </div>
</body>
</html>
