

/* Estilo para o container principal de pesquisa */
.container-search {
  max-width: 600px;
  margin: 0 auto;
}

/* Estilo para o conteúdo dentro do container de pesquisa */
.container-search .content {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* Estilo para os campos de seleção */
mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

/* Estilo para os botões */
.filter-button {
  display: block;
  width: 100%;
  padding: 10px 0;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filter-button:hover {
  background-color: var(--light-blue);;
}
/* Estilo para a mensagem de erro */
.error-message {
  color: #FF0000;
  margin-top: 10px;
  text-align: center;
}


/* Estilo para os inputs de data */
.date-filter-container input[type="date"] {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 40%;
  margin-right: 10px;
}

/* Estilo para os espaçamentos */
br {
  line-height: 20px;
}

h1 {
  color: var(--dark-blue);
  padding: 0.5rem;
  font-weight: 700;
  margin: 1rem 0 0 0;
  font-size: 1.6rem;
}

.titulo {
  text-align: center; 
  padding-bottom: 25px;
}
