<app-menubar></app-menubar>
<br>
<br>
<div class="container-search">
  <div class="content">
    <div class="titulo">
      <h1>Pesquisa por questão</h1>
    </div>
    <mat-form-field>
      <mat-label>Fase</mat-label>
      <mat-select [(ngModel)]="selectedFase">
        <mat-option *ngFor="let fase of allFases" [value]="fase.value">{{ fase.viewValue }}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <br>
    <mat-form-field>
      <mat-label>Atividade</mat-label>
      <mat-select [(ngModel)]="selectedAtividade">
        <mat-option *ngFor="let atividade of allAtividades" [value]="atividade.value">{{ atividade.viewValue }}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <br>
    <div class="date-filter-container">
      <h6>Data Inicial:</h6>
      <input type="date" [(ngModel)]="startDate" placeholder="Data inicial">
      <h6>Data Final:</h6>
      <input type="date" [(ngModel)]="endDate" placeholder="Data final">
    </div>
    <br><br>
    <button (click)="searchQuestion();" class="filter-button">Pesquisar</button>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

  </div>
</div>



<div *ngIf="questionSearch.length > 0" class="container-user-statistics">
  <div class="statistics-item">
    <h2>Total de Respostas</h2>
    <div class="statistics-value">{{ questionStatistics.quantityAllAnswers }}</div>
  </div>
  <div class="statistics-item">
    <h2>Total de Respostas Corretas</h2>
    <div class="statistics-value">{{ questionStatistics.quantityCorrectsAnswers }}</div>
  </div>
  <div class="statistics-item">
    <h2>Total de Respostas Incorretas</h2>
    <div class="statistics-value">{{ questionStatistics.quantityWrongsAnswers }}</div>
  </div>
  <div class="statistics-item">
    <h2>Porcentagem de Respostas Corretas</h2>
    <div class="statistics-value">{{ questionStatistics.percentageCorrectsAnswers.toFixed(1) }}%</div>
  </div>
  <div class="statistics-item">
    <h2>Porcentagem de Respostas Incorretas</h2>
    <div class="statistics-value">{{ questionStatistics.percentageWrongsAnswers.toFixed(1) }}%</div>
  </div>
</div>



<div class="container-responses" *ngIf="questionSearch.length > 0">
    <table class="answers-table">
      <thead>
        <tr>
          <th>Aplicação</th>
          <th>Fase</th>
          <th>Atividade</th>
          <th>Usuário</th>
          <th>Resposta do Usuário</th>
          <th>Resposta Esperada</th>
          <th>Está Correto</th>
          <th>Data e Hora da Resposta</th>
          <th>Tipo de Questão</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let question of questionSearch" class="answer-item">
          <td>{{ question.idApp }}</td>
          <td>{{ question.phaseActivity }}</td>
          <td>{{ question.numberActivity }}</td>
          <td>{{ question.idUser }}</td>
          <td>{{ question.userResponse }}</td>
          <td>{{ question.expectedResponse }}</td>
          <td>{{ question.isCorrect ? 'Sim' : 'Não' }}</td>
          <td>{{ question.dateResponse | date:'dd/MM/yyyy HH:mm:ss' }}</td>
          <td>{{ question.typeOfQuestion }}</td>
        </tr>
      </tbody>
    </table>
</div>
