<app-menubar></app-menubar>
<br>
<div class="title">
  <h1>Todas as respostas</h1>
</div>

<div class="container-search">
  <div class="content">
    <autocomplete-input 
      #applicationInput 
      class="autocomplete-input" 
      [options]="applicationsOptions" 
      [placeholder]="'Digite a aplicação que deseja pesquisar'">
    </autocomplete-input>

    <div (click)="dataOn = !dataOn" class="dataOn">
      <h4>Filtrar respostas por período</h4>    
      <mat-icon>date_range</mat-icon>
    </div>
    
    <div *ngIf="dataOn" class="date-filter-container">  
      <h5>Data Inicial:</h5>
      <input type="date" [(ngModel)]="startDate" placeholder="Data inicial">
      <br>
      <h5>Data Final:</h5>
      <input type="date" [(ngModel)]="endDate" placeholder="Data final">
    </div>
    <br>
    
    <button (click)="searchResponses(applicationInput.value)" class="filter-button">Pesquisar</button>
  </div>
</div>

<div *ngIf="errorMessageOn" class="warning-noserver">
  <div *ngIf="errorMessage" class="error-message"><h2>{{ errorMessage }}</h2></div>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div class="pagination-controls" *ngIf="responses.length > 0">
  <button (click)="previousPage()" [disabled]="page === 0">Anterior</button>
  <span>Página {{ page + 1 }} de {{ totalPages }}</span>
  <button (click)="nextPage()" [disabled]="page === totalPages - 1">Próxima</button>
</div>

<div *ngIf="responses.length > 0" class="container-user-statistics">
  <div class="statistics-item">
    <h2>Total de Respostas</h2>
    <div class="statistics-value">{{ responseStatistics.quantityAllAnswers }}</div>
  </div>
  <div class="statistics-item">
    <h2>Total de Respostas Corretas</h2>
    <div class="statistics-value">{{ responseStatistics.quantityCorrectsAnswers }}</div>
  </div>
  <div class="statistics-item">
    <h2>Total de Respostas Incorretas</h2>
    <div class="statistics-value">{{ responseStatistics.quantityWrongsAnswers }}</div>
  </div>
  <div class="statistics-item">
    <h2>Porcentagem de Respostas Corretas</h2>
    <div class="statistics-value">{{ responseStatistics.percentageCorrectsAnswers.toFixed(1) }}%</div>
  </div>
  <div class="statistics-item">
    <h2>Porcentagem de Respostas Incorretas</h2>
    <div class="statistics-value">{{ responseStatistics.percentageWrongsAnswers.toFixed(1) }}%</div>
  </div>
</div>

<div *ngIf="responses.length > 0" class="container-responses">
  <div class="content">
    <table class="answers-table">
      <thead>
        <tr>
          <th>Aplicação</th>
          <th>Fase</th>
          <th>Atividade</th>
          <th>Usuário</th>
          <th>Resposta do Usuário</th>
          <th>Resposta Esperada</th>
          <th>Está Correto</th>
          <th>Data e Hora da Resposta</th>
          <th>Tipo de Questão</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let response of responses" class="answer-item">
          <td>{{ response.idApp }}</td>
          <td>{{ response.phase }}</td>
          <td>{{ response.activity }}</td>
          <td>{{ response.userID }}</td>
          <td>{{ response.userResponse }}</td>
          <td>{{ response.expectedResponse }}</td>
          <td>{{ response.isCorrect ? 'Sim' : 'Não' }}</td>
          <td>{{ response.dateResponse | date:'dd/MM/yyyy' }}</td>
          <td>{{ response.typeOfQuestion }}</td>
        </tr>
      </tbody>
    </table>
   
  </div>
</div>
