<app-menubar></app-menubar>
<br>
<div class="title">
  <h1>Todas as respostas</h1>
</div>

<div class="container-search">
  <div class="content">
    <div class="div-data">
      <h5 for="filter-select">Filtrar por:</h5>
    </div>
    <select id="filter-select" [(ngModel)]="selectedOrder" >
      <option value="dateResponse">Data de Envio</option>
      <option value="idApp">Aplicação</option>
      <option value="phase">Fase</option>
      <option value="activity">Atividade</option>
      <option value="userID">Usuário</option>
    </select>

    <div *ngIf="selectedOrder === 'dateResponse' "  class="date-filter-container">  
      <h5>Data Inicial:</h5>
      <input type="date" [(ngModel)]="startDate" placeholder="Data inicial">
      <br>
      <h5>Data Final:</h5>
      <input type="date" [(ngModel)]="endDate" placeholder="Data final">
    </div>
    <br>
    
    <input *ngIf=" selectedOrder != 'dateResponse' " type="text" [(ngModel)]="searchTerm" placeholder="Pesquisar...">
    
    <button (click)="filterQuestions()" class="filter-button">Filtrar</button>
  </div>
</div>



<div *ngIf="questions.length === 0" class="warning-noserver">
  <div *ngIf="errorMessage" class="error-message"><h2>{{ errorMessage }}</h2></div>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div *ngIf="questions.length > 0" class="container-responses">
  <div class="content">
    <table class="answers-table">
      <thead>
        <tr>
          <th>Aplicação</th>
          <th>Fase</th>
          <th>Atividade</th>
          <th>Usuário</th>
          <th>Resposta do Usuário</th>
          <th>Resposta Esperada</th>
          <th>Está Correto</th>
          <th>Data e Hora da Resposta</th>
          <th>Tipo de Questão</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let question of filteredQuestions" class="answer-item">
          <td>{{ question.idApp }}</td>
          <td>{{ question.phase }}</td>
          <td>{{ question.activity }}</td>
          <td>{{ question.userID }}</td>
          <td>{{ question.userResponse }}</td>
          <td>{{ question.expectedResponse }}</td>
          <td>{{ question.isCorrect ? 'Sim' : 'Não' }}</td>
          <td>{{ question.dateResponse | date:'dd/MM/yyyy' }}</td>
          <td>{{ question.typeOfQuestion }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
