body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
}


.div-data {
  display: flex;
  align-items: right;
  text-align: right;
  padding: 2px;
  font-size: small;
}

.filter-button {
  display: block;
  width: 100%;
  padding: 10px 0;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2%;
}

.filter-button:hover {
  background-color: var(--light-blue);;
}

.date-label {
  margin-right: 20PX; /* Espaçamento entre os títulos e os inputs de data */
}
h1 {
  color: var(--dark-blue);
  padding: 0.5rem;
  font-weight: 700;
  margin: 1rem 0 0 0;
  font-size: 1.6rem;
}
h2,th{
  color: var(--dark-blue);
}

input[type="date"] {
  padding: 8px; 
  margin-right: 20px; 
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="date"] {
  padding: 10px;
  margin-right: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

.container-search {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container-response{
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content {
  text-align: center;
}

input[type="text"],
select {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.back-button {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #0056b3;
}

.answers-table {
  padding: 15px;
  width: 100%;
  border-collapse: collapse;
}

.error-message {
  margin-top: 10px;
  padding: 10px;
  background-color: #f8d7da; 
  border: 1px solid #f5c6cb; 
  color: #721c24; 
  border-radius: 4px;
}


.container-user-statistics {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.statistics-item {
  text-align: center;
  flex-basis: 18%;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.statistics-item h2 {
  margin-bottom: 5px;
}

.statistics-value {
  font-size: 20px;
  font-weight: bold;
  color: #007bff;
}


/* Estilo para o conteúdo dentro do container */
.container-responses .content {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* Estilo para a tabela de respostas */
.answers-table {
  width: 100%;
  border-collapse: collapse;
}

/* Estilo para as células do cabeçalho da tabela */
.answers-table th {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Estilo para as células do corpo da tabela */
.answers-table td {
  border: 1px solid #ccc;
  padding: 10px;
}

/* Estilo para as linhas da tabela */
.answers-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Estilo para as linhas da tabela ao passar o mouse */
.answers-table tbody tr:hover {
  background-color: #ddd;
}



