<app-menubar></app-menubar>
<br>
<div class="container-search">
  <div class="content">
    <h1>Todas as respostas</h1>
    <div class="div-data">
    <br>
    <a>Filtrar por:</a>
  </div>
    <select [(ngModel)]="selectedOrder">
      <option value="dateResponse">Data de Envio</option>
      <option value="idApp">Aplicação</option>
      <option value="phaseActivity">Fase </option>
      <option value="numberActivity">Atividade</option>
      <option value="idUser">Usuário</option>
    </select>
    <br>
    <input type="text" [(ngModel)]="searchTerm" placeholder="Pesquisar...">
    <br>
    <button (click)="filterQuestions()" class="filter-button">Filtrar</button>
  
  </div>
</div>


<div class="container-responses">
  <div class="content">
  <table class="answers-table">
    <thead>
      <tr>
        <th>Aplicação</th>
        <th>Fase</th>
        <th>Atividade</th>
        <th>Usuário</th>
        <th>Resposta do Usuário</th>
        <th>Resposta Esperada</th>
        <th>Está Correto</th>
        <th>Data e Hora da Resposta</th>
        <th>Tipo de Questão</th>
      </tr>
    </thead>
      <!-- Utilize o pipe orderBy no ngFor para ordenar as respostas -->
      <tr *ngFor="let question of filteredQuestions" class="answer-item">
        <!-- Exibir as informações das respostas aqui -->
        <td>{{ question.idApp }}</td>
        <td>{{ question.phaseActivity }}</td>
        <td>{{ question.numberActivity }}</td>
        <td>{{ question.idUser }}</td>
        <td>{{ question.userResponse }}</td>
        <td>{{ question.expectedResponse }}</td>
        <td>{{ question.isCorrect ? 'Sim' : 'Não' }}</td>
        <td>{{ question.dateResponse | date:'dd/MM/yyyy HH:mm:ss' }}</td>
        <td>{{ question.typeOfQuestion }}</td>
      </tr>
  </table>

  </div>
</div>