<div class="container-search">
  <div class="content">
    <button routerLink="/home-binary" class="back-button">Voltar</button>
    <input type="text" [(ngModel)]="searchTerm" placeholder="Pesquisar...">
    <select [(ngModel)]="selectedOrder">
      <option value="dateResponse">Data de Envio</option>
      <option value="idApp">ID da Aplicação</option>
      <option value="phaseActivity">Fase da Atividade</option>
      <option value="numberActivity">Número da Atividade</option>
      <option value="idUser">ID do Usuário</option>
    </select>
    <br>
    <button (click)="filterQuestions()" class="filter-button">Filtrar</button>
  
  </div>
</div>


<div class="container-responses">
  <div class="content">

  <!-- Exibir as respostas como uma planilha Excel -->
  <table class="answers-table">
    <thead>
      <tr>
        <th>ID da Aplicação</th>
        <th>Fase da Atividade</th>
        <th>Número da Atividade</th>
        <th>ID do Usuário</th>
        <th>Resposta do Usuário</th>
        <th>Resposta Esperada</th>
        <th>Está Correto</th>
        <th>Data e Hora da Resposta</th>
        <th>Tipo de Questão</th>
      </tr>
    </thead>
      <!-- Utilize o pipe orderBy no ngFor para ordenar as respostas -->
      <tr *ngFor="let question of filteredQuestions" class="answer-item">
        <!-- Exibir as informações das respostas aqui -->
        <td>{{ question.idApp }}</td>
        <td>{{ question.phaseActivity }}</td>
        <td>{{ question.numberActivity }}</td>
        <td>{{ question.idUser }}</td>
        <td>{{ question.userResponse }}</td>
        <td>{{ question.expectedResponse }}</td>
        <td>{{ question.isCorrect ? 'Sim' : 'Não' }}</td>
        <td>{{ question.dateResponse | date:'dd/MM/yyyy HH:mm:ss' }}</td>
        <td>{{ question.typeOfQuestion }}</td>
      </tr>
  </table>

  </div>
</div>