<app-menubar></app-menubar>
<br>
<div class="title">
  <h1>Pesquisa por usuário</h1>
</div>
<div class="container-search">
  <div class="content">
  <br>
  <input type="text" [(ngModel)]="idUser" placeholder="Digite o ID do usuário">
    <br>
  <div class="date-filter-container">
    <h6>Data Inicial:</h6>
    <input type="date" [(ngModel)]="startDate" placeholder="Data inicial">
    <h6>Data Final:</h6>
    <input type="date" [(ngModel)]="endDate" placeholder="Data final">
  </div>
  <br><br>
  <button (click)="searchUser();" class="filter-button">Pesquisar</button>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  </div>
</div>


<div *ngIf="userQuestions.length > 0" class="container-user-statistics">
  <div class="statistics-item">
    <h2>Total de Respostas</h2>
    <div class="statistics-value">{{ statisticsUser.quantityAllAnswers }}</div>
  </div>
  <div class="statistics-item">
    <h2>Total de Respostas Corretas</h2>
    <div class="statistics-value">{{ statisticsUser.quantityCorrectsAnswers }}</div>
  </div>
  <div class="statistics-item">
    <h2>Total de Respostas Incorretas</h2>
    <div class="statistics-value">{{ statisticsUser.quantityWrongsAnswers }}</div>
  </div>
  <div class="statistics-item">
    <h2>Porcentagem de Respostas Corretas</h2>
    <div class="statistics-value">{{ statisticsUser.percentageCorrectsAnswers.toFixed(1) }}%</div>
  </div>
  <div class="statistics-item">
    <h2>Porcentagem de Respostas Incorretas</h2>
    <div class="statistics-value">{{ statisticsUser.percentageWrongsAnswers.toFixed(1) }}%</div>
  </div>
</div>




<div class="container-responses" *ngIf="userQuestions.length > 0">
  <div class="content">
    <table class="answers-table">
      <thead>
        <tr>
          <th>Aplicação</th>
          <th>Fase</th>
          <th>Atividade</th>
          <th>Usuário</th>
          <th>Resposta do Usuário</th>
          <th>Resposta Esperada</th>
          <th>Está Correto</th>
          <th>Data e Hora da Resposta</th>
          <th>Tipo de Questão</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let question of userQuestions" class="answer-item">
          <td>{{ question.idApp }}</td>
          <td>{{ question.phaseActivity }}</td>
          <td>{{ question.numberActivity }}</td>
          <td>{{ question.idUser }}</td>
          <td>{{ question.userResponse }}</td>
          <td>{{ question.expectedResponse }}</td>
          <td>{{ question.isCorrect ? 'Sim' : 'Não' }}</td>
          <td>{{ question.dateResponse | date:'dd/MM/yyyy HH:mm:ss' }}</td>
          <td>{{ question.typeOfQuestion }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
