<div class="main-menu">

  <button mat-icon-button class="example-icon" routerLink="/" aria-label="Icone for home pag">
    <mat-icon>home</mat-icon>
  </button>

    <mat-menu #aboveMenu="matMenu" yPosition="above">
    </mat-menu>
    <span class="example-spacer"></span>
  
    <button mat-button routerLink="/statistics-binary"> Listar Todas as Respostas</button>
    <button mat-button routerLink="/search-user"> Pesquisar por Usuário</button>
    <button mat-button routerLink="/search-question"> Pesquisar por Questão</button>

  
  </div>