/* Estiliza o campo do formulário */
.mat-form-field {
  width: 100%; /* Faz o campo ocupar 100% da largura disponível */
  margin-top: 0;
}

.mat-form-field-underline {
  background-color: #3f51b5; /* Cor da underline */
}

.mat-input-element{
  width: 97%
}


/* Estiliza o campo de entrada */
input[matInput] {
  font-size: 16px; /* Tamanho da fonte */
  padding: 8px;
}

input[matInput]:focus {
  border-color: #3f51b5; /* Cor da borda quando focado */
  box-shadow: 0 0 5px rgba(63, 81, 181, 0.5); /* Sombra quando focado */
}

/* Estiliza a lista de autocomplete */
.mat-autocomplete-panel {
  max-height: 200px; /* Altura máxima da lista */
  overflow-y: auto; /* Scroll vertical quando necessário */
  background-color: #fff; /* Cor de fundo */
  border: 1px solid #ccc; /* Borda */
  border-radius: 4px; /* Arredondamento dos cantos */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra da lista */
}

/* Estiliza os itens da lista de autocomplete */
.mat-option {
  padding: 8px 16px; /* Padding dos itens */
  font-size: 16px; /* Tamanho da fonte dos itens */
}

.mat-option:hover {
  background-color: #f1f1f1; /* Cor de fundo ao passar o mouse */
}

.mat-option.mat-active {
  background-color: #e8eaf6; /* Cor de fundo do item ativo */
}
